.App{
    margin:0;
    padding: 0;
    width: 400px;
    margin:40px auto;
}


body
{
    background-image: url("https://images.unsplash.com/photo-1631377407762-0b7cae2d4b01?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1332&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

span
{
    margin-right: 10px;
}

li
{
    border-radius: 10px;
}